@import 'mixin';
.btn {
  width: 10vw;
  height: 8vh;
  color: $orange;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $medium;
  font-size: 2vw;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}
