@import 'mixin';

.offer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // margin-bottom: 2vw;
  // height: 80vh;
  background-color: $black;

  .bgc_y {
    // position: absolute;
    // width: 100vw;
    // height: 100%;
    // // background: $medium-dark;
    // z-index: -1;
  }

  .container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    @include container;
    border-radius: 0;
    box-shadow: none;
  }

  &__slider {
    width: 100vw;
    height: 45vh;
    display: flex;
    position: relative;
    overflow: hidden;

    &-counter {
      display: flex;
      width: 100%;
      align-items: center;
      font-size: 2vw;
      font-weight: 700;
      color: $white;
      justify-content: center;
      // background-color: $medium;
      width: 100%;
      #current {
        font-weight: 800;
        span {
          font-weight: 800;
        }
      }
      #total {
        font-weight: 800;
        span {
          font-weight: 800;
        }
      }
    }

    &-wrapper {
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
      position: relative;
      display: flex;
      flex-direction: column;
      order: 2;
      @include container;
    }

    &-inner {
      display: flex;
      height: 100%;
      width: 400%;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__slide {
    width: 25%;
    height: 100%;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    @include no-select;
  }

  &__descr {
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.9);
    padding: 2vw;
    z-index: 0;
    display: flex;
    background-color: $black;
    &-left {
      display: flex;
      flex: 0 0 65%;
      flex-direction: column;
      justify-content: space-around;

      &--info {
        @include fluid-text(32, 9);
        color: $white;
        justify-content: center;
        text-align: center;
      }

      &--action {
        display: flex;
        justify-content: center;

        .btn-sldier {
          height: 6vw;
          width: 20vw;
          @include fluid-text(40, 9);
          @include BTN;
        }
      }
    }

    &-right {
      // padding: 3%;
      flex: 0 0 35%;

      &--img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 100%;
        @include no-select;

        img {
          // object-fit: cover;
          // justify-self: right;
          // border: 1px solid #000;
          // border-radius: 5px;
          max-width: 200px;
          max-height: 200px;
          @include no-select;
        }
      }
    }
  }
}

.prev,
.next {
  width: 10%;
  background-color: rgba(0, 0, 0, 0.251);
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.prev {
  order: 1;
}

.next {
  order: 3;
}

.btn_dark {
  background-color: #303030;
  color: #fff;
  border: none;
  padding: 12px 45px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    background-color: darken(#303030, 10%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// .fade_slider {
//   // opacity: 0;
//   transition: opacity 0.5s ease-in-out;
// }

// .show_slider {
//   // display: block;
// }

// .hide_slider {
//   // display: none;
// }
