@import 'mixin';
@import 'mediaMixin';

.promotion {
  // padding: 5vh;
  margin: 5vh 0 5vh 0;
  position: relative;
  @include container;
  // background: $black;
  .bgc_y {
    @include BTN;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $black;
    z-index: -1;
    // top: -50px;
    left: 0;
  }

  .container {
    display: flex;
    // flex-wrap: wrap;
    padding: 3vw;
    max-width: 100%;
    @include respond-to(mobile) {
      padding: 2vw;
    }

    .promotion__text {
      flex: 0 0 50%;
      color: $white;

      .title {
        @include fluid-text(40, 20);
        font-weight: 900;
      }
      .promotion__descr {
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;

        span {
          font-weight: 700;
          font-size: 26px;
        }
      }
    }

    .promotion__timer {
      //   width: 50%;
      display: flex;
      //   flex-wrap: wrap;
      flex-direction: column;
      flex: 0 0 50%;
      .title {
        @include fluid-text(40, 20);
        font-weight: 900;
        text-align: center;
        color: $white;
      }

      .timer {
        padding: 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        @include respond-to(desktop) {
          flex-flow: column nowrap;
        }

        .timer__block {
          width: 25%;
          height: 100%;
          background: $orange;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
          font-size: 16px;
          font-weight: 300;
          text-align: center;
          margin: 1%;
          // color: $white;
          @include respond-to(desktop) {
            width: 100%;
          }
          @include respond-to(mobile) {
            width: 100%;
            height: 25%;
          }

          span {
            display: block;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 56px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
